body{
    margin: 0;
    padding: 0;
    background:linear-gradient(120deg,#e1f2ff, #f2d5ff);
    overflow: hidden;
    height: 100vh;
}
h1{
    font-size: 18px;
    border-bottom: 1px solid rgb(180, 93, 231);
    height: 40px;
}
button{
    color: rgb(0, 0, 0);
    background-color: rgba(232, 212, 255, 0);
    border:none;
    left: -130%;
    top: 8%;
    font-size: 20px;
    font-weight: 800;
    transform: translate(5%,-5%);
    border-radius: 5px;
    pointer-events: none;
}
.maker{
    transform: translate(1%,40%);
}
h2{
    font-size: 40px;
    left: -50%;
}
.center{
    background-color: #f1f9ff;
    width: 1000px;
    top: 80%;
    left: 50%;
    transform: translate(2%, 0%);
    height: 300px;
    border-radius: 5px;
}
.center img{
    float: right;
    transform: translate(-10%,-26%);
    height: 270px;
    width: 400px;
}
p{
    color: black;
    top: 80%;
    left: 50%;
    transform: translate(3%, -10%);
    height: auto;
    width: 500px;
}
.under{
    transform: translate(0%,0%);
}
